<% n = round_data[:number] %>
<% active = @initial_round == n %>
<div class="tab-pane fade <%= class_names(show: active, active: active) %>" id="round-<%= n %>-table" role="tabpanel" aria-labelledby="round-<%= n %>-table-tab">
  <%= render partial: 'round/round_table', locals: {round_data: round_data} %>
</div>
