<% n = round_data[:number] %>
<li class="nav-item" role="presentation">
  <button class="nav-link" id="round-<%= n %>-tab" data-bs-toggle="tab" data-bs-target="#round-<%= n %>-table" type="button" role="tab" aria-controls="round-<%= n %>-table" aria-selected="false"><%= @round_names[n] %></button>
</li>
