<table class='inner'>
  <tr>
    <td class='inner number'>
      <%= min %>
    </td>
    <td class='inner separator'>
      –
    </td>
    <td class='inner number'>
      <%= max %>
    </td>
  </tr>
</table>
