<td class="table-name-col"
  data-bs-toggle="tooltip"
  x-ms-format-detection="none"
  data-detection="false"
  <% if current_user %>
    data-bs-html="true"
    title="<%= user.username %><br><small><%= user.email %></small>"
  <% else %>
    title="<%= user.username %>"
  <% end %>
>
  <%= user.username %>
</td>
