<td class="table-name-col">
  <span
    data-bs-toggle="tooltip"
    data-bs-placement="top"
    <% if current_user %>
      data-bs-html="true"
      title="<%= user.username %><br><small><%= user.email %></small>"
    <% else %>
      title="<%= user.username %>"
    <% end %>
  ><%= user.username %></span>
</td>
