<div class= "table-responsive">
  <table class="table table-hover table-sm table-white">
    <thead>
      <tr>
        <th scope="col" class="table-rank-col">#</th>
        <th scope="col" class="table-name-col">Name</th>
        <th scope="col" class="table-score-col">Score</th>
        <th scope="col" class="table-breakdown-col">Breakdown</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'standings/user_progress_row', collection: @data, as: :user_totals %>
    </tbody>
  </table>
</div>
