<% user, round_scores, totals, rank = user_data %>
<tr>
  <td><%= rank %></td>
  <%= render partial: 'shared/user_cell', locals: {user: user} %>
  <% @rounds.each do |round| %>
    <% min, _potential, max = round_scores[round] %>
    <%= render partial: 'standings/score_cell', locals: {min: min, max: max} %>
    <td></td>
    <td></td>
  <% end %>
  <% min, max = totals %>
  <%= render partial: 'standings/score_cell', locals: {min: min, max: max} %>
</tr>
