<h1>Standings</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <% @rounds.each do |round| %>
        <th><%= "R#{round}" %></th>
      <% end %>
      <th>Total</th>
    </tr>
  </thead>
  <%= render partial: 'standings/user_row', collection: @data %>
</table>
