---
http_interactions:
- request:
    method: get
    uri: https://cdn.nba.com/static/json/staticData/brackets/2023/PlayoffBracket.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      x-amz-request-id:
      - EKDQGTKXPDPX34HY
      last-modified:
      - Thu, 27 Feb 2025 15:24:03 GMT
      etag:
      - '"a936b528048eac2194badc3b6695b3bc"'
      x-amz-server-side-encryption:
      - AES256
      x-amz-version-id:
      - f3BbgFgKdttbhgA60Z8AZ7rpOYEfI7jf
      content-type:
      - text/plain
    body:
      encoding: UTF-8
      string: "{\r\n  \"meta\": {\r\n    \"version\": 1,\r\n    \"request\": \"http://nba.cloud/league/00/2023/2/playoffbracket?Format=json\",\r\n
        \   \"time\": \"2025-02-27T10:24:02.242Z\"\r\n  },\r\n  \"bracket\": {\r\n
        \   \"leagueId\": \"00\",\r\n    \"seasonYear\": \"2023\",\r\n    \"bracketType\":
        \"Playoff Bracket\",\r\n    \"playoffPictureSeries\": [],\r\n    \"playInBracketSeries\":
        [],\r\n    \"playoffBracketSeries\": [\r\n      {\r\n        \"seriesId\":
        \"00_42023_1_0_1610612738_1610612748\",\r\n        \"roundNumber\": 1,\r\n
        \       \"seriesNumber\": 0,\r\n        \"seriesConference\": \"East\",\r\n
        \       \"seriesText\": \"BOS wins 4-1\",\r\n        \"seriesStatus\": 3,\r\n
        \       \"seriesWinner\": 1610612738,\r\n        \"highSeedId\": 1610612738,\r\n
        \       \"highSeedCity\": \"Boston\",\r\n        \"highSeedName\": \"Celtics\",\r\n
        \       \"highSeedTricode\": \"BOS\",\r\n        \"highSeedRank\": 1,\r\n
        \       \"highSeedSeriesWins\": 4,\r\n        \"highSeedRegSeasonWins\": 64,\r\n
        \       \"highSeedRegSeasonLosses\": 18,\r\n        \"lowSeedId\": 1610612748,\r\n
        \       \"lowSeedCity\": \"Miami\",\r\n        \"lowSeedName\": \"Heat\",\r\n
        \       \"lowSeedTricode\": \"MIA\",\r\n        \"lowSeedRank\": 8,\r\n        \"lowSeedSeriesWins\":
        1,\r\n        \"lowSeedRegSeasonWins\": 46,\r\n        \"lowSeedRegSeasonLosses\":
        36,\r\n        \"displayOrderNumber\": 4,\r\n        \"displayTopTeam\": 1610612738,\r\n
        \       \"displayBottomTeam\": 1610612748,\r\n        \"poRoundDesc\": \"First
        Round\",\r\n        \"nextGameId\": \"\",\r\n        \"nextGameNumber\": \"\",\r\n
        \       \"nextGameDateTimeEt\": \"\",\r\n        \"nextGameDateTimeUTC\":
        \"\",\r\n        \"nextGameStatus\": 0,\r\n        \"nextGameStatusText\":
        \"\",\r\n        \"nextGameBroadcasterId\": 0,\r\n        \"nextGameBroadcasterDisplay\":
        \"\",\r\n        \"nextGameNeutralSite\": false,\r\n        \"lastCompletedGameId\":
        \"0042300105\"\r\n      },\r\n      {\r\n        \"seriesId\": \"00_42023_1_1_1610612752_1610612755\",\r\n
        \       \"roundNumber\": 1,\r\n        \"seriesNumber\": 1,\r\n        \"seriesConference\":
        \"East\",\r\n        \"seriesText\": \"NYK wins 4-2\",\r\n        \"seriesStatus\":
        3,\r\n        \"seriesWinner\": 1610612752,\r\n        \"highSeedId\": 1610612752,\r\n
        \       \"highSeedCity\": \"New York\",\r\n        \"highSeedName\": \"Knicks\",\r\n
   [...]
