<tr>
  <td class="table-rank-col"></td>
  <td class="table-name-col"></td>
  <% if round_data[:show_totals] %>
    <td></td>
    <%= render partial: 'shared/empty_cell' %>
  <% end %>
  <% current_user_round = round_data[:user_data].find { |u| u.user == current_user } %>
  <%= render partial: 'round/matchup_summary_entry', collection: round_data[:matchups], as: :matchup, locals: {outcome: outcome, current_user_round: current_user_round}, spacer_template: 'shared/empty_cell' %>
</tr>
