<p class="lead"><%= @round_name %></p>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <%= render partial: 'round/matchup_title', collection: @matchups, as: :matchup, spacer_template: 'shared/empty_cell' %>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'round/user_row', collection: @user_data %>
    </tbody>
    <tfoot>
      <%= render partial: 'round/matchup_summary_row', collection: (0...@num_outcomes).to_a, as: :outcome %>
    </tfoot>
  </table>
</div>
