<ul class="nav nav-pills mb-3">
  <% @round_names.sort.each do |n, name| %>
    <% current = n == @round_data[:number] %>
    <li class="nav-item">
      <% if current %>
        <button class="nav-link active"><%= name %></button>
      <% else %>
        <%= link_to(name, n.to_s, class: class_names(:'nav-link')) %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= render partial: 'round/round_table' %>
