---
http_interactions:
- request:
    method: get
    uri: https://cdn.nba.com/static/json/staticData/brackets/2022/PlayoffBracket.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      x-amz-request-id:
      - 79MNHH5ZS0E75MWD
      last-modified:
      - Tue, 16 Apr 2024 13:50:54 GMT
      etag:
      - '"9bf1c16598dee7e814f433b83121e220"'
      x-amz-server-side-encryption:
      - AES256
      x-amz-version-id:
      - M2DtV7aY2LYOUzbitixmfOkg32hKEboD
      content-type:
      - text/plain
    body:
      encoding: UTF-8
      string: "{\r\n  \"meta\": {\r\n    \"version\": 1,\r\n    \"request\": \"http://nba.cloud/league/00/2022/2/playoffbracket?Format=json\",\r\n
        \   \"time\": \"2024-04-16T09:50:53.5053Z\"\r\n  },\r\n  \"bracket\": {\r\n
        \   \"leagueId\": \"00\",\r\n    \"seasonYear\": \"2022\",\r\n    \"bracketType\":
        \"Playoff Bracket\",\r\n    \"playoffPictureSeries\": [],\r\n    \"playInBracketSeries\":
        [],\r\n    \"playoffBracketSeries\": [\r\n      {\r\n        \"seriesId\":
        \"00_42022_1_0_1610612749_1610612748\",\r\n        \"roundNumber\": 1,\r\n
        \       \"seriesNumber\": 0,\r\n        \"seriesConference\": \"East\",\r\n
        \       \"seriesText\": \"MIA wins 4-1\",\r\n        \"seriesStatus\": 3,\r\n
        \       \"seriesWinner\": 1610612748,\r\n        \"highSeedId\": 1610612749,\r\n
        \       \"highSeedCity\": \"Milwaukee\",\r\n        \"highSeedName\": \"Bucks\",\r\n
        \       \"highSeedTricode\": \"MIL\",\r\n        \"highSeedRank\": 1,\r\n
        \       \"highSeedSeriesWins\": 1,\r\n        \"highSeedRegSeasonWins\": 58,\r\n
        \       \"highSeedRegSeasonLosses\": 24,\r\n        \"lowSeedId\": 1610612748,\r\n
        \       \"lowSeedCity\": \"Miami\",\r\n        \"lowSeedName\": \"Heat\",\r\n
        \       \"lowSeedTricode\": \"MIA\",\r\n        \"lowSeedRank\": 8,\r\n        \"lowSeedSeriesWins\":
        4,\r\n        \"lowSeedRegSeasonWins\": 44,\r\n        \"lowSeedRegSeasonLosses\":
        38,\r\n        \"displayOrderNumber\": 4,\r\n        \"displayTopTeam\": 1610612749,\r\n
        \       \"displayBottomTeam\": 1610612748,\r\n        \"poRoundDesc\": \"First
        Round\",\r\n        \"nextGameId\": \"\",\r\n        \"nextGameNumber\": \"\",\r\n
        \       \"nextGameDateTimeEt\": \"\",\r\n        \"nextGameDateTimeUTC\":
        \"\",\r\n        \"nextGameStatus\": 0,\r\n        \"nextGameStatusText\":
        \"\",\r\n        \"nextGameBroadcasterId\": 0,\r\n        \"nextGameBroadcasterDisplay\":
        \"\",\r\n        \"lastCompletedGameId\": \"0042200105\"\r\n      },\r\n      {\r\n
        \       \"seriesId\": \"00_42022_1_1_1610612738_1610612737\",\r\n        \"roundNumber\":
        1,\r\n        \"seriesNumber\": 1,\r\n        \"seriesConference\": \"East\",\r\n
        \       \"seriesText\": \"BOS wins 4-2\",\r\n        \"seriesStatus\": 3,\r\n
        \       \"seriesWinner\": 1610612738,\r\n        \"highSeedId\": 1610612738,\r\n
        \       \"highSeedCity\": \"Boston\",\r\n        \"highSeedName\": \"Celtics\",\r\n
  [...]
